body {
  height:100%;
  line-height:1.5;
  font-family: sans-serif;
  font-weight:300;
  font-size:100%;
}

/*colors*/       
.traintile {
  height:30px;
  margin:3px;
  padding:3px;
  color:white;
  background-color: #646D7E;
  border: 1px solid black;
  overflow:hidden;
}  
  